body {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: hsla(225, 43%, 16%, 1);
    background: linear-gradient(360deg, hsla(218, 56%, 23%, 1) 0%, hsla(225, 43%, 16%, 1) 100%);
    background: -moz-linear-gradient(360deg, hsla(218, 56%, 23%, 1) 0%, hsla(225, 43%, 16%, 1) 100%);
    background: -webkit-linear-gradient(360deg, hsla(218, 56%, 23%, 1) 0%, hsla(225, 43%, 16%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1A335D", endColorstr="#18213C", GradientType=1);
    transition: background 0.5s ease-in-out;
}

.runko {
    height: 3000px;
}

/*#region HEADER & NAVIGAATIO ************************************/

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    width: 30%;
    float: left;
    padding: 3% 10% 0% 3%;
}

.header_logo img {
    height: 100px;
    width: auto;
}

.header_navigaatio {
    width: 70%;
    float: left;
    padding-top: 2%;
}

.nav {
    font-family: 'Nunito', Helvetica;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1.3;
    position: relative;
    transition: border-bottom 0.3s ease;
    margin-right: 5%;
}

.nav:hover {
    border-bottom: 3px solid #C7613D;
    padding-bottom: 10px;
}

.header_navigaatio .icon {
    display: none;
}




.btn_kirjaudu {
    width: 200px;
    border-radius: 25px;
    background-color: #4DAAB3;
    padding: 10px;
    font-family: 'Nunito', Helvetica;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.btn_kirjaudu:hover {
    background-color: #C7613D;
    font-weight: 500;
}

/*#endregion*/

/*#region SISÄLTÖ ************************************/

.sisalto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 3% auto;
    font-family: 'Nunito', Helvetica;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
}

.ajankohtaistajuurinyt {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.mediakortti {
    width: 20%;
    font-family: 'Nunito', Helvetica;
    line-height: 0.8;
    margin: 10px;
}

.mediakortti img {
    border-radius: 15px;
    width: 100%;
    padding-bottom: 10px;
}

.mediakortti img:hover {
    opacity: 0.8;

}

.mediakortti h1 {
    color: #4DAAB3;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
    text-align: left;
}

.mediakortti h2, a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}
/*#endregion*/

/*#region TYPOGRAFIA ************************************/

h1 {
    font-family: 'Nunito', Helvetica;
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}
/*#endregion */

/*#region RESPONSIIVISUUS ************************************/

@media only screen and (max-width: 600px) {

    header {
        flex-direction: column;
    }

    .header_logo {
        width: 70%;
    }

    .nav {
        margin: 0;
    }
    
    .nav:hover {
        color: #C7613D;
        border-bottom: 0px;
        padding-bottom: 0;
    }

    .btn_kirjaudu {
        margin-bottom: 30px;
    }

    .header_navigaatio a {
        display: none;
    }

    .header_navigaatio a.icon {
        text-align: center;
        display: block;
        color:#ffffff;
    }

    .header_navigaatio a.icon:hover {
        color:#4DAAB3;
    }
    
    .ajankohtaistajuurinyt {
        flex-wrap: wrap;
    }
    
    .mediakortti {
        width: 40%;
        margin: 15px;
    }
}

/* Responsiivinen navigaatio JS:lle */
@media only screen and (max-width: 600px) {
.header_navigaatio.responsive {
    position: absolute;
    float: left;
    width: 100%;
    margin-top: 100px;
    transition: 0.5s ease;
}

.header_navigaatio.responsive a.icon {
    position: relative;
}

.header_navigaatio.responsive a {
    display: block;
    text-align: center;
    background-color: #18213C;
    padding-top: 20px;
    width: 100%;
}
}

/*#endregion*/