.row {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.tiedot_runko {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.leveyden_asetus {
    width: 80%;
}

.vasenkuva {
    float: left;
    width: auto;
    margin-right: 8%;
}

.vasenkuva img {
    height: 400px;
    width: auto;
}

.runko_osa1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.runko_osa2 {
    float: left;
    display: flex;
    flex-direction: column;
}

.otsikko {
    float: left;
}

.tahdet {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

.tahdet img {
    height: 25px;
    margin-right: 10px;
}

.lisatiedot {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Nunito', Helvetica;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
}

.osa1 {
    margin-top: -10px;
    justify-content: center;
}

.lisatiedot_osa {
    float: left;
    margin-right: 10px;
}

p {
    font-family: 'Nunito', Helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}

h1 {
    text-align: left;
}

.tekijat {
    line-height: 0;
    font-weight: 400;
}

.keskitys {
    text-align: center;
}

/* Buttonit */
.btn_genre {
    width: auto;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s ease;
    font-family: 'Nunito', Helvetica;
    border-radius: 25px;
    margin: 20px 10px 20px 0px;
    border: 1px solid #4DAAB3;
    background-color: transparent;
}

.btn_genre:hover {
    border: 1px solid #aeaeae;
}


@media only screen and (max-width: 800px) {
    .row {
        width: 100%;
        flex-direction: column;
    }

    .runko_osa1 {
        flex-direction: column;
    }

    .vasenkuva {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .tahdet {
        justify-content: center;
    }

    h1 {
        text-align: center;
    }

    .otsikko {
        text-align: center;
    }

    .leveyden_asetus {
        width: 100%;
    }

    .tekijat {
        line-height: normal;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1050px) {
    .row {
        width: 100%;
    }
    .runko_osa1 {
        flex-direction: column;
    }
    .lisatiedot_osa {
        margin-right: auto;
    }
    .leveyden_asetus {
        width: 100%;
    }
    .tekijat {
        line-height: normal;
    }
}