.footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-family: 'Nunito', Helvetica;
    font-size: 12px;
    font-weight: 300;
    color: #aeaeae;
    text-align: center;
    margin-top: 40px;
}

.space {
    flex: 1;
}