.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: white;
  transition: background-color 0.3s ease;
}

.logo {
  width: 40%;
  float: left;
  padding: 1% 10% 0% 3%;
}

.logo img {
  height: 100px;
  width: auto;
}

.links {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: flex-end;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  transition: transform 0.3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.nav {
  font-family: 'Nunito', Helvetica;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1.3;
  transition: border-bottom 0.3s ease;
  margin-right: 5%;
}

.nav:hover {
  color: #ffffff;
  border-bottom: 3px solid #C7613D;
  padding-bottom: 10px;
}

.hamburger {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

.btn_kirjaudu {
  width: 200px;
  border-radius: 25px;
  background-color: #4DAAB3;
  padding: 10px;
  font-family: 'Nunito', Helvetica;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}

.btn_kirjaudu:hover {
  background-color: #C7613D;
  font-weight: 500;
}

@media (max-width: 800px) {
  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #18213C;
    padding-top: 20px;
    animation-name: slideOut;
  }
  
  .logo img {
    height: 80px;
    width: auto;
  }

  .links.open {
    display: flex;
    margin-top: 60px;
    animation-name: slideIn;
  }

  .nav {
      margin: 0;
      padding-bottom: 3%;
  }
  
  .nav:hover {
      color: #4DAAB3;
      border-bottom: 0;
      padding-bottom: 3%;
  }

  .btn_kirjaudu {
    margin-bottom: 25px;
  }

  .hamburger {
    display: block;
  }

  .hamburger:hover {
      color: #4DAAB3;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1050px) {
  .logo {
      width: 20%;
      padding: 1% 0% 0% 0%;
  }

  .logo img {
      height: 50px;
  }
}
