.kolmen_kollaasi {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Nunito', Helvetica;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.2;
}

.kollaasi_osa {
    width: 33%;
    margin: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 16px;
}

li {
    padding-bottom: 5px;
}

.kollaasityylit h3 {
    color: #4DAAB3;
    font-size: 12px;
    margin-bottom: -15px;
    padding-left: 10px;
}

.kollaasityylit h4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 20px;
}

.kollaasityylit h4:hover {
    color: #C7613D;
}

@media only screen and (max-width: 700px) {
    .kolmen_kollaasi {
        width: 80%;
        flex-direction: column;
    }
    .kollaasi_osa {
        width: auto;
    }
}

@media only screen and (min-width: 710px) and (max-width: 1200px) {
    .kolmen_kollaasi {
        width: 80%;
        flex-direction: none;
        flex-wrap: wrap;
    }
    .kollaasi_osa {
        width: auto;
    }
}