.mediakorttien_runko {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.mediakortti {
    width: 18%;
    font-family: 'Nunito', Helvetica;
    line-height: 0.8;
    margin: 10px;
    box-sizing: border-box;
}

.mediakortti img {
    border-radius: 15px;
    width: 100%;
    padding-bottom: 10px;
}

.mediakortti img:hover {
    opacity: 0.8;

}

.mediakortti h1 {
    color: #4DAAB3;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 0;
    text-align: left;
}

.mediakortti h2, a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    line-height: 1.3;
    text-decoration: none;
}

.mediakortti a:hover {
    color:#C7613D;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
.mediakortti {
    width: 40%;
    margin: 15px;
}
}